---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  creationTimestamp: null
  name: clusters.lindb.lindb.io
spec:
  group: lindb.lindb.io
  names:
    kind: Cluster
    listKind: ClusterList
    plural: clusters
    singular: cluster
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.image
      name: Image
      type: string
    - jsonPath: .spec.cloud.type
      name: Cloud
      type: string
    - jsonPath: .spec.brokers.replicas
      name: Brokers
      type: integer
    - jsonPath: .spec.storages.replicas
      name: Storages
      type: integer
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Cluster is the Schema for the clusters API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            properties:
              brokers:
                description: broker is the broker configuration
                properties:
                  grpcPort:
                    description: 'the port of broker grpc server default: 9001'
                    format: int32
                    type: integer
                  httpPort:
                    description: 'the port of broker http server default: 9000'
                    format: int32
                    type: integer
                  image:
                    description: the image of broker, if not set, use the default
                      image of ClusterSpec
                    type: string
                  monitor:
                    description: 'the monitor configuration default: report-interval:
                      10s, url: http://broker1:9000/api/v1/write?db=_internal'
                    properties:
                      reportInterval:
                        description: 'the interval of monitor report default: 10s'
                        type: string
                      url:
                        description: 'the url of monitor report default: http://broker1:9000/api/v1/write?db=_internal'
                        type: string
                    type: object
                  replicas:
                    description: 'replicas is the desired number of replicas of the
                      given Template. These are replicas in the sense that they are
                      instantiations of the same Template, but individual replicas
                      also have a consistent identity. If unspecified, defaults to
                      1. default: 1'
                    format: int32
                    type: integer
                  resources:
                    description: Resources are not allowed for ephemeral containers.
                      Ephemeral containers use spare resources already allocated to
                      the pod.
                    properties:
                      claims:
                        description: "Claims lists the names of resources, defined
                          in spec.resourceClaims, that are used by this container.
                          \n This is an alpha field and requires enabling the DynamicResourceAllocation
                          feature gate. \n This field is immutable."
                        items:
                          description: ResourceClaim references one entry in PodSpec.ResourceClaims.
                          properties:
                            name:
                              description: Name must match the name of one entry in
                                pod.spec.resourceClaims of the Pod where this field
                                is used. It makes that resource available inside a
                                container.
                              type: string
                          required:
                          - name
                          type: object
                        type: array
                        x-kubernetes-list-type: set
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Limits describes the maximum amount of compute
                          resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Requests describes the minimum amount of compute
                          resources required. If Requests is omitted for a container,
                          it defaults to Limits if that is explicitly specified, otherwise
                          to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                    type: object
                type: object
              cloud:
                description: Cloud is the cloud configuration
                properties:
                  storage:
                    description: storage is the storage configuration
                    properties:
                      mountPath:
                        default: /data
                        description: mountPath is the mount path of the cloud storage
                        type: string
                      recyclingStrategy:
                        default: Delete
                        description: recycling strategy
                        enum:
                        - Delete
                        - Retain
                        type: string
                      storageClass:
                        default: gp2
                        description: storageClass is the storage class of the cloud
                          storage
                        type: string
                      storageSize:
                        default: 10Gi
                        description: storageSize is the storage size of the cloud
                          storage
                        type: string
                      type:
                        default: shared
                        description: type is the type of the cloud storage
                        enum:
                        - shared
                        type: string
                    type: object
                  type:
                    default: aws
                    description: type is the type of the cloud
                    enum:
                    - aws
                    type: string
                type: object
              etcdEndpoints:
                description: 'EtcdEndpoints is the etcd endpoints default: ["http://etcd:2379"]'
                items:
                  type: string
                type: array
              etcdNamespace:
                default: /lindb-cluster
                description: EtcdEndpoints is the etcd endpoints
                type: string
              image:
                description: image is the image of the lindb cluster
                type: string
              paused:
                description: 'Paused can be used to prevent controllers from processing
                  the Cluster and all its associated objects. default: false'
                type: boolean
              storages:
                description: storage is the storage configuration
                properties:
                  Resource:
                    additionalProperties:
                      anyOf:
                      - type: integer
                      - type: string
                      pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                      x-kubernetes-int-or-string: true
                    description: Resources are not allowed for ephemeral containers.
                      Ephemeral containers use spare resources already allocated to
                      the pod.
                    type: object
                  grpcPort:
                    description: 'the port of storage grpc server default: 2891'
                    format: int32
                    type: integer
                  httpPort:
                    description: 'the port of storage http server default: 2892'
                    format: int32
                    type: integer
                  image:
                    description: the image of storage, if not set, use the default
                      image of ClusterSpec
                    type: string
                  monitor:
                    description: 'the monitor configuration default: report-interval:
                      10s, url: http://broker1:9000/api/v1/write?db=_internal'
                    properties:
                      reportInterval:
                        description: 'the interval of monitor report default: 10s'
                        type: string
                      url:
                        description: 'the url of monitor report default: http://broker1:9000/api/v1/write?db=_internal'
                        type: string
                    type: object
                  replicas:
                    description: 'default: 1'
                    format: int32
                    type: integer
                type: object
            type: object
          status:
            description: ClusterStatus defines the observed state of Cluster
            properties:
              phaseStatus:
                default: Pending
                description: the status of cluster
                enum:
                - Pending
                - Running
                - Failed
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
